<h1>Alert Service for Angular 13</h1>
<p>Not autoclose</p>
<button (click)="Success()">Success</button>
<button (click)="Error()">Error</button>
<button (click)="Info()">Info</button>
<button (click)="Warn()">Warning</button>
<button (click)="Danger()">Danger</button>

<p>With autoclose</p>
<button (click)="AutoSuccess()">Success</button>
<button (click)="AutoError()">Error</button>
<button (click)="AutoInfo()">Info</button>
<button (click)="AutoWarn()">Warning</button>
<button (click)="AutoDanger()">Danger</button>
<router-outlet></router-outlet>
<alert></alert>